body {
    background: #0f172a;
    overflow: hidden;
}

/* CONTENEDOR IZQUIERDO */
.left-side {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; /* ?? centra horizontal */
    padding: 40px;
}

.form-box {
    width: 100%;
    max-width: 380px;
}

.brand {
    color: #38bdf8;
    font-size: 2.2rem;
    font-weight: 800;
}

.subtitle {
    color: #64748b;
    font-size: .9rem;
}

label {
    color: #94a3b8;
    font-size: .85rem;
}

.form-control {
    background: #020617;
    border: 1px solid #1e293b;
    color: #e2e8f0;
    height: 48px;
}

    .form-control::placeholder {
        color: #475569;
    }

    .form-control:focus {
        border-color: #38bdf8;
        box-shadow: 0 0 0 3px rgba(56,189,248,.15);
    }

.input-group-text {
    background: #020617;
    border: 1px solid #1e293b;
    color: #38bdf8;
}

.btn-primary {
    background: linear-gradient(135deg, #0284c7, #38bdf8);
    border: none;
    height: 48px;
    font-weight: 600;
    transition: .2s;
}

    .btn-primary:hover {
        transform: translateY(-1px);
        opacity: .95;
    }

/* LADO DERECHO */
.image-side {
    position: relative;
}

    .image-side img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    /* overlay oscuro elegante */
    .image-side::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient( to left, rgba(15, 23, 42, 0.1), rgba(15, 23, 42, 0.9) );
    }
